.Workout {
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: left;
}

.Workout li {
	padding: 5px;
}

.Workout-box {
	width: 300px;
	padding: 5px;
}

.Workout-test {
	color:blue;
}