.Workout {
	list-style: none;
	display: flex;
	justify-content: center;
	text-align: left;
	align-items: center;
}

.Workout li {
	padding: 5px;
}

.Workout-box {
	width: 300px;
	padding: 5px;
}

.Workout-button {
  background-color: #23B5D3;
  border: 1px solid transparent;
  border-radius: 3px;
  box-shadow: rgba(255, 255, 255, .4) 0 1px 0 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,system-ui,"Segoe UI","Liberation Sans",sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.15385;
  margin: 0;
  outline: none;
  padding: 8px .8em;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  white-space: nowrap;
}

.Workout-button:hover,
.Workout-button:focus {
  background-color: #61CFE5;
}

.Workout-button:focus {
  box-shadow: 0 0 0 4px rgba(0, 149, 255, .15);
}

.Workout-button:active {
  background-color: #0064bd;
  box-shadow: none;
}